;<?php die(''); ?>
;for security reasons , don't remove or modify the first line

; put here configuration variables that are specific to this installation

[modules]
lizmap.installparam=demo

taxon.access=2
occtax.access=2
occtax_admin.access=2
;mascarine.access=0
;mascarine_admin.access=0


[taxon]
; champ determinant le statut local : valeures possibles fr, gf, mar, gua, sm, sb, spm, may, epa, reu, taff, pf, nc, wf, cli
colonne_locale=reu
endemicite_description_endemique=Réunion
endemicite_description_subendemique=Mascareignes

; liste des codes des arr  t  s de protection qui concernent la zone de travail
code_arrete_protection_simple="agri1,agri2,Bubul1,Bulbul2,Bulbul3,Bulbul4,Bulbul5,Bulbul6,Bulbul9,corbasi1,phelsuma1,phelsuma2,phelsuma3,phelsuma4,phelsuma5,PV97,REUEEA,REUEEI,REUP"
code_arrete_protection_internationale="CCA,CCB,CCC,CCD,IAAP,IAO2,IAO3,IAO4,IBA2,IBA3,IBE1,IBE2,IBE3,IBOAE,IBO1,IBO2,IOS5"
code_arrete_protection_communautaire="CDH2,CDH4,CDH5,CDO1,CDO21,CDO22,CDO31,CDO32"
code_arrete_protection_nationale="DV974,NM,NMAMmar2,NM2,NO3,NO4,NO6,NTAA1,NTM1,NTM8,OC3,REUEA2,REUEA3,REUEA4,REUI2"

[naturaliz]
; projection de reference
srid=2975
appName=Naturaliz

[occtax]
defaultRepository=
defaultProject=
projectName=Occurences de Taxon
projectDescription=Cette application permet de consulter les observations faunistiques et floristiques.
projectCss="
#header {
    background: url('/css/img/bandeau.png') #8DB129 repeat;
}

#auth, #title {
  background: transparent;
}
#title {
  margin-left:150px;
}
#title h2{
  color: #344116;
  margin-left: 100px;
  font-size:1.5em;
}

#metadata {
  background:transparent;
  color: white;
}
#metadata div {
  background:transparent;
  font-size: 16px;
}
#metadata h2 {
  font-size: 18px;
  color: orange;
}
#metadata h3 {
  font-size: 16px;
  margin-bottom: 10px;
}
#metadata a {
  color: orange;
}

"

; typename WFS pour les imports
znieff1_terre=reu_znieff1
znieff1_mer=reu_znieff1_mer
znieff2_terre=reu_znieff2
znieff2_mer=reu_znieff2_mer

; liste de niveaux de validite à restreindre pour le grand public
validite_niveaux_grand_public=1,2

; taille maximum en m2 des polygones dessinés pour rechercher des observations
; -1 permet une taille illimitée
maxAreaQuery=32000000

[mascarine]
defaultRepository=
defaultProject=
projectName=Saisie Flore
projectDescription=Cette application permet de consulter et de créer des observation floristiques.
projectCss=""
habitats=GUAEAR

; chmod for files created by Lizmap and Jelix
;chmodFile=0664
;chmodDir=0775
