;<?php die(''); ?>
;for security reasons , don't remove or modify the first line

; put here configuration variables that are specific to this installation

[modules]
lizmap.installparam=demo

taxon.access=2
occtax.access=2
occtax_admin.access=2
;mascarine.access=0
;mascarine_admin.access=0


[taxon]
; champ determinant le statut local : valeures possibles fr, gf, mar, gua, sm, sb, spm, may, epa, reu, taff, pf, nc, wf, cli
colonne_locale=reu
endemicite_description_endemique=Réunion
endemicite_description_subendemique=Mascareignes

; liste des codes des arr  t  s de protection qui concernent la zone de travail
code_arrete_protection_simple="agri1,agri2,Bubul1,Bulbul2,Bulbul3,Bulbul4,Bulbul5,Bulbul6,Bulbul9,corbasi1,phelsuma1,phelsuma2,phelsuma3,phelsuma4,phelsuma5,PV97,REUEEA,REUEEI,REUP"
code_arrete_protection_internationale="CCA,CCB,CCC,CCD,IAAP,IAO2,IAO3,IAO4,IBA2,IBA3,IBE1,IBE2,IBE3,IBOAE,IBO1,IBO2,IOS5"
code_arrete_protection_communautaire="CDH2,CDH4,CDH5,CDO1,CDO21,CDO22,CDO31,CDO32"
code_arrete_protection_nationale="DV974,NM,NMAMmar2,NM2,NO3,NO4,NO6,NTAA1,NTM1,NTM8,OC3,REUEA2,REUEA3,REUEA4,REUI2"

[naturaliz]
; projection de reference
srid=2975
appName=Naturaliz

[occtax]
defaultRepository=
defaultProject=
projectName=Occurences de Taxon
projectDescription=Cette application permet de consulter les observations faunistiques et floristiques.
projectCss="
#header {
background: url('/css/img/bandeau.jpg') #8baf29 no-repeat;
background-position-y: 50%;
}
#auth, #title {
background: transparent;
}
#logo {
background:none;
}
#title h1, #title h2 {
color: transparent;
}

#auth ul.nav {
background-color: rgba(255, 255, 255, 0.4);
color: #344116;
}

"

; typename WFS pour les imports
znieff1_terre=reu_znieff1
znieff1_mer=reu_znieff1_mer
znieff2_terre=reu_znieff2
znieff2_mer=reu_znieff2_mer

; liste de niveaux de validite à restreindre pour le grand public
validite_niveaux_grand_public=1,2

; taille maximum en m2 des polygones dessinés pour rechercher des observations
; -1 permet une taille illimitée
maxAreaQuery=32000000

; configuration des classes de légende pour les mailles
; on doit mettre, dans l'ordre et séparé par point-virgule:
; intitulé de la classe; borne inférieure; borne supérieure; couleur
legend_class[]="De 1 à 10 observations; 1; 10; #FFFBC3"
legend_class[]="De 11 à 100 observations; 11; 100; #FFFF00"
legend_class[]="De 101 à 500 observations; 101; 500; #FFAD00"
legend_class[]="Supérieur à 500 observations; 501; 1000000; #FF5500"

; rayon min et max pour les ronds représentant les mailles
; ( pour tenir dans un carré de 1000 m)
legend_min_radius=100
legend_max_radius=410

; liste blanche des champs à afficher dans la fiche d'observation
observation_card_fields=cle_obs, identifiant_permanent, statut_observation, nom_cite, denombrement_min, denombrement_max, objet_denombrement, commentaire, date_debut, date_fin, date_determination, ds_publique, jdd_metadonnee_dee_id, organisme_gestionnaire_donnees, statut_source, sensi_niveau, observateur, determinateur, validateur, descriptif_sujet, obs_methode, occ_etat_biologique, occ_naturalite, occ_sexe, occ_stade_de_vie, occ_statut_biologique, obs_contexte, obs_description, occ_methode_determination, validite_niveau, validite_date_validation, precision_geometrie

; liste blanche des données filles à afficher
;observation_card_children=commune, departement, maille_02, maille, espace_naturel, masse_eau, habitat, attribut_additionnel
observation_card_children=commune, departement, maille_02, maille, espace_naturel, masse_eau, habitat

; liste blanche des champs à afficher dans la fiche d'observation
observation_exported_fields=cle_obs, identifiant_permanent, statut_observation, nom_cite, denombrement_min, denombrement_max, objet_denombrement, commentaire, date_debut, date_fin, date_determination, ds_publique, jdd_metadonnee_dee_id, organisme_gestionnaire_donnees, statut_source, sensi_niveau, observateur, determinateur, validateur, descriptif_sujet, validite_niveau, validite_date_validation, precision_geometrie

; liste blanche des données filles à afficher
;observation_card_children=commune, departement, maille_02, maille, espace_naturel, masse_eau, habitat, attribut_additionnel
observation_exported_children=commune, departement, maille_02, maille, espace_naturel, masse_eau, habitat

; ordre des items de menu Lizmap (barre de menu de gauche)
menuOrder=home, occtax-presentation, switcher, occtax, dataviz, print, measure, permaLink, occtax-legal, taxon, metadata



[mascarine]
defaultRepository=
defaultProject=
projectName=Saisie Flore
projectDescription=Cette application permet de consulter et de créer des observation floristiques.
projectCss=""
habitats=GUAEAR

; chmod for files created by Lizmap and Jelix
;chmodFile=0664
;chmodDir=0775
