;<?php die(''); ?>
;for security reasons , don't remove or modify the first line

; put here configuration variables that are specific to this installation

[modules]
lizmap.installparam=demo

taxon.access=2
occtax.access=2
occtax_admin.access=2
;mascarine.access=2
;mascarine_admin.access=2


[taxon]
; champ determinant le statut local : valeures possibles fr, gf, mar, gua, sm, sb, spm, may, epa, reu, taff, pf, nc, wf, cli
colonne_locale=gua
; liste des codes des arrêtés de protection qui concernent la zone de travail
code_arrete_protection=GUAM1,GUAO1,GUARA1,DV971,GUAI2
; guadeloupe: GUAM1,GUAO1,GUARA1,DV971,GUAI2
; reunion: agri1, agri2, Bubul1, Bulbul2, Bulbul3, Bulbul4, Bulbul5, Bulbul6, Bulbul9, corbasi1, DV974, phelsuma1, phelsuma2, phelsuma3, phelsuma4, phelsuma5, REUEA2, REUEA3, REUEA4, REUEEA, REUEEI, REUI2, REUP

[naturaliz]
; projection de référence
srid=32620
adminPassword="naturaliz"
appName=Naturaliz

[occtax]
defaultRepository=
defaultProject=
projectName=Occurences de Taxon
projectDescription=Cette application permet de consulter les observations faunistiques et floristiques.
projectCss=""

; WFS Server url for import
wfs_url="http://ws.carmencarto.fr/WFS/119/glp_inpn"
wfs_url_sandre="http://services.sandre.eaufrance.fr/geo/mdo_GLP"
wfs_url_grille="http://ws.carmencarto.fr/WFS/119/glp_grille"
; typename des znieff, car diffère selon les serveurs WFS Carmen
znieff1_terre=Znieff1
znieff1_mer=Znieff1_mer
znieff2_terre=Znieff2
znieff2_mer=Znieff2_mer

[mascarine]
defaultRepository=
defaultProject=
projectName=Saisie Flore
projectDescription=Cette application permet de consulter et de créer des observation floristiques.
projectCss=""
habitats=GUAEAR

; chmod for files created by Lizmap and Jelix
;chmodFile=0664
;chmodDir=0775
