<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="mascarine_admin3liz.com" name="occtax_admin" createdate="2015-02-04">
        <version date="2023-11-10">2.16.3</version>
        <label lang="en_US">occtax_admin</label>
        <description lang="en_US" />
        <license URL="http://www.mozilla.org/MPL/">Mozilla Public License</license>
        <copyright>2011-2023 3liz</copyright>
        <creator name="3liz" email="info@3liz.com" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://3liz.com</homepageURL>
    </info>
    <dependencies>
        <module name="lizmap" minversion="3.4.0" maxversion="3.7.*"/>
        <module name="view" />
        <module name="taxon" />
        <module name="occtax" />
    </dependencies>
</module>
