
/*
Left Menu button
*/

#mapmenu .nav-list > li.occtax_stats .icon {
  background-image:url("img/navbar/occtax_navbar.png");
  background-position: -175px 0px;
}
#mapmenu .nav-list > li.occtax_stats.active .icon,
#mapmenu .nav-list > li.occtax_stats a:hover .icon {
  background-image:url("img/navbar/occtax_navbar.png");
  background-position: -150px 0px;
}


/*
Toolbar buttons
*/


#occtax_stats h3 .icon.search {
    background-image: url("img/navbar/occtax_navbar.png");
  background-position: -175px 0px;
}

#occtax_stats h3 .icon.description {
    background-image: url("img/navbar/occtax_navbar.png");
  background-position: -175px 0px;
}
#occtax_stats h3 .icon.result {
    background-image: url("img/navbar/occtax_navbar.png");
  background-position: -25px 0px;
}
