
/*
Left Menu button
*/

#mapmenu .nav-list > li.occtax_stats .icon {
  background-image: url(img/navbar/icone_compare_blanc.png);
}
#mapmenu .nav-list > li.occtax_stats.active .icon,
#mapmenu .nav-list > li.occtax_stats a:hover .icon {
  background-image: url(img/navbar/icone_compare.png);
}


/*
Toolbar buttons
*/

#occtax_stats h3 .icon.description {
    background-image: url(img/navbar/icone_compare_blanc.png);
}
