#obs-spatial-query-buttons button.btn {
  width: 30px;
  height: 30px;
  padding: 2px;
}

#obs-spatial-query-buttons button.commune {
    background:url(img/sig/mActionSelectCommune.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.masse_eau {
    background:url(img/sig/mActionSelectMasseEau.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.maille {
    background:url(img/sig/mActionSelect.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.maille.m02 {
    background:url(img/sig/mActionSelectM02.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.maille.m10 {
    background:url(img/sig/mActionSelectM10.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.circle {
    background:url(img/sig/mActionSelectCircle.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.polygon {
    background:url(img/sig/mActionSelectPolygon.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.import {
    background:url(img/sig/mActionSelectUpload.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.delete {
    background:url(img/sig/Erase.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.modify {
    background:url(img/sig/mActionMoveVertex.png) no-repeat 2px 2px #F5F5F5;
}

#div_form_occtax_search_token,
#occtax_results_tabs {
  min-width:370px;
}

/*
Left Menu button
*/

#mapmenu .nav-list > li.taxon .icon {
  background-image:url("img/navbar/occtax_navbar.png");
  background-position: -175px 0px;
}
#mapmenu .nav-list > li.taxon.active .icon,
#mapmenu .nav-list > li.taxon a:hover .icon {
  background-image:url("img/navbar/occtax_navbar.png");
  background-position: -150px 0px;
}

#mapmenu .nav-list > li.occtax .icon {
  background-image:url("img/navbar/occtax_navbar.png");
/*
  background-position: -25px 0;
*/
  background-position: -175px 0;
}
#mapmenu .nav-list > li.occtax.active .icon,
#mapmenu .nav-list > li.occtax a:hover .icon {
  background-image:url("img/navbar/occtax_navbar.png");
/*
  background-position: -0px 0px;
*/
  background-position: -150px 0px;
}


/*
Toolbar buttons
*/

#taxon h3 .icon.search {
    background-image: url("img/navbar/occtax_navbar.png");
  background-position: -175px 0px;
}
#taxon h3 .icon.description {
    background-image: url("img/navbar/occtax_navbar.png");
  background-position: -175px 0px;
}
#taxon h3 .icon.result {
    background-image: url("img/navbar/occtax_navbar.png");
  background-position: -225px 0px;
}

#occtax h3 .icon.search {
    background-image: url("img/navbar/occtax_navbar.png");
  background-position: -175px 0px;
}

#occtax h3 .icon.description {
    background-image: url("img/navbar/occtax_navbar.png");
  background-position: -175px 0px;
}
#occtax h3 .icon.result {
    background-image: url("img/navbar/occtax_navbar.png");
  background-position: -25px 0px;
}


#div_occtax_taxon_modal  h3 .icon.search {
    background-image: url("img/navbar/occtax_navbar.png");
  background-position: -150px 0px;
}
#div_occtax_taxon_modal  h3 .icon.result {
    background-image: url("img/navbar/occtax_navbar.png");
  background-position: -200px 0px;
}

#occtax_results_stats_table img{
  max-width:100px !important;
}


table.dataTable {
  width: 100% !important;
}

div.dataTables_paginate.paging_simple_numbers {
  padding: 0px;
}
div.dataTables_paginate.paging_simple_numbers > ul {
  margin: 0px;
}

table.occtax-legend-table {
  padding: 0px;
  font-size:0.8em;
  border-collapse:collapse;
  border-spacing:0px;
  width:50%;
  line-height: 0px;
}

table.occtax-legend-table td{
  padding: 0px;
}


/*
Occtax search dock
*/
div#occtax {
  height: 98%;
  overflow-x:hidden;
}
h3.occtax_search {
  cursor: pointer;
  border-bottom: 1px dotted white;
}


#bottom-dock ul.nav-tabs > li > a {
  border:none;
/*
  background:none;
*/
  font-weight:bold;
  color:rgb(200,200,200);
}
#bottom-dock ul.nav-tabs > li.active > a,
#bottom-dock ul.nav-tabs > li > a:hover {
  border:none;
/*
  background:none;
*/
  font-weight:bold;
  color:rgb(50,50,50);;
}


/*
Bottom dock
*/
#occtax-bottom-main {
    float: left;
    width: 100%;
    height: 100%;
}
#occtax-bottom-main.reduced {
    width: 65%;
}
#occtax-bottom-detail {
  background-color:RGBA(87, 105, 32, 0.8);
  margin-left: 65%;
  overflow: auto;
  height: 100%;
  padding-left: 10px;
}
#occtax-bottom-detail.visible {
  width: auto;
}
button#occtax-bottom-hide-detail{
  position:absolute;
  top:5px;
  right:5px;
}
