<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="taxon3liz.com" name="taxon" createdate="2014-10-01">
        <version date="2019-02-25">2.3.4</version>
        <label lang="en_US">taxon</label>
        <description lang="en_US" />
        <license URL="http://www.mozilla.org/MPL/">Mozilla Public License</license>
        <copyright>2011 3liz</copyright>
        <creator name="your name" email="infol@3liz.com" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://3liz.com</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.6.0" maxversion="1.6.*"/>
    </dependencies>
</module>
