/*
Formulaire de recherche
*/

/*
Désactivation CSS
*/
div#occtax.not_enabled {
    pointer-events: none;
    opacity: 0.4;
}
div#occtax_search_observation_card.not_enabled {
    pointer-events: none;
    opacity: 0.4;
}

/*
Onglets taxons
*/
#div_form_occtax_search_token div.tab-content {
  background: lightgray;
}
#div_form_occtax_search_token .nav-tabs > li > a{
 background: #efefef;
 color: #333333;
 font-weight: normal;
 border: 1px solid lightgray;
}
#div_form_occtax_search_token .nav-tabs > li > a:hover,
#div_form_occtax_search_token .nav-tabs > .active > a,
#div_form_occtax_search_token .nav-tabs > .active > a:hover,
#div_form_occtax_search_token .nav-tabs > .active > a:focus {
 background: lightgray;
 font-weight: bold;
}

#recherche_taxon_attributs legend,
#recherche_taxon_panier legend {
  display: none;
}
#recherche_taxon_attributs fieldset,
#recherche_taxon_panier fieldset {
  padding-top: 10px;
}


/*
Panier de taxons
*/
#occtax_taxon_select_div {
  overflow-x: auto;
  margin: 5px;
  background-color: white;
  border-radius: 5px;
  color: #333333;
}
#occtax_taxon_select_div li span {
  font-size: 1.1em;
  display: inline;
  cursor: pointer;
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
#occtax_taxon_select_div li span:hover {
  font-size: 1.1em;
  display: inline !important;
  color: #7cb0ff;
}
#occtax_taxon_select_list {
  margin: 0px;
}

/*
Boutons de requête spatial
*/
#obs-spatial-query-buttons button.btn {
  width: 30px;
  height: 30px;
  padding: 2px;
}

#obs-spatial-query-buttons button.commune {
    background:url(getfile?targetmodule=occtax&file=css/img/sig/mActionSelectCommune.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.masse_eau {
    background:url(getfile?targetmodule=occtax&file=css/img/sig/mActionSelectMasseEau.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.maille {
    background:url(getfile?targetmodule=occtax&file=css/img/sig/mActionSelect.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.maille.m01 {
    background:url(getfile?targetmodule=occtax&file=css/img/sig/mActionSelectM01.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.maille.m02 {
    background:url(getfile?targetmodule=occtax&file=css/img/sig/mActionSelectM02.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.maille.m05 {
    background:url(getfile?targetmodule=occtax&file=css/img/sig/mActionSelectM05.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.maille.m10 {
    background:url(getfile?targetmodule=occtax&file=css/img/sig/mActionSelectM10.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.circle {
    background:url(getfile?targetmodule=occtax&file=css/img/sig/mActionSelectCircle.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.polygon {
    background:url(getfile?targetmodule=occtax&file=css/img/sig/mActionSelectPolygon.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.import {
    background:url(getfile?targetmodule=occtax&file=css/img/sig/mActionSelectUpload.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.delete {
    background:url(getfile?targetmodule=occtax&file=css/img/sig/Erase.png) no-repeat 2px 2px #F5F5F5;
}
#obs-spatial-query-buttons button.modify {
    background:url(getfile?targetmodule=occtax&file=css/img/sig/mActionMoveVertex.png) no-repeat 2px 2px #F5F5F5;
}

#div_form_occtax_search_token,
#occtax_results_tabs {
  min-width:370px;
}


/*
Boutons de submit du form
*/
div#div_form_occtax_search_token div.jforms-submit-buttons{
  text-align: center;
}

/*
Onglets de résultat
*/

#occtax_search_result div.tab-content{
/*
  background: lightgray;
*/
  border-top: 1px solid lightgray;
}
#occtax_search_result .nav-tabs > li > a{
 background: #efefef;
 color: #333333;
 font-weight: normal;
 border: 1px solid lightgray;
 border-bottom: none;
}
#occtax_search_result .nav-tabs > li > a:hover,
#occtax_search_result .nav-tabs > .active > a,
#occtax_search_result .nav-tabs > .active > a:hover,
#occtax_search_result .nav-tabs > .active > a:focus {
 background: lightgray;
 font-weight: bold;
}

#occtax_results_tabs.nav-tabs > li > a,
#occtax_results_tabs.nav-tabs > li > a:hover,
#occtax_results_tabs.nav-tabs > li > a:focus {
  padding: 5px;
}

#occtax_results_export_div > form > legend {
  font-size: 12px;
}



/*
Left Menu button
*/

/* taxon */
#mapmenu .nav-list > li.taxon .icon {
  background-image:url("getfile?targetmodule=occtax&file=css/img/navbar/occtax_navbar.png");
  background-position: -175px 0px;
}
#mapmenu .nav-list > li.taxon.active .icon,
#mapmenu .nav-list > li.taxon a:hover .icon {
  background-image:url("getfile?targetmodule=occtax&file=css/img/navbar/occtax_navbar.png");
  background-position: -150px 0px;
}

/* occtax */
#mapmenu .nav-list > li.occtax .icon {
  background-image:url("getfile?targetmodule=occtax&file=css/img/navbar/occtax_navbar.png");
  background-position: -175px 0;
}
#mapmenu .nav-list > li.occtax.active .icon,
#mapmenu .nav-list > li.occtax a:hover .icon {
  background-image:url("getfile?targetmodule=occtax&file=css/img/navbar/occtax_navbar.png");
  background-position: -150px 0px;
}


/* presentation */
#mapmenu .nav-list > li.occtax-presentation .icon {
  background-position: -125px 0;
}
#mapmenu .nav-list > li.occtax-presentation.active .icon,
#mapmenu .nav-list > li.occtax-presentation a:hover .icon {
  background-position: -100px 0px;
}

/* mentions légales */
/*
Left Menu button
*/

#mapmenu .nav-list > li.occtax-legal .icon {
  background-image: url(getfile?targetmodule=occtax&file=css/img/navbar/src/legal-icon-white.png);
}
#mapmenu .nav-list > li.occtax-legal.active .icon,
#mapmenu .nav-list > li.occtax-legal a:hover .icon {
  background-image: url(getfile?targetmodule=occtax&file=css/img/navbar/src/legal-icon-dark.png);
}

#occtax-legal h3 .icon {
    background-image: url(getfile?targetmodule=occtax&file=css/img/navbar/src/legal-icon-white.png);
}
#occtax-legal-content {
    overflow: auto;
    height: 100%;
}


/*
Toolbar buttons
*/

#taxon h3 .icon.search {
    background-image: url("getfile?targetmodule=occtax&file=css/img/navbar/occtax_navbar.png");
  background-position: -175px 0px;
}
#taxon h3 .icon.description {
    background-image: url("getfile?targetmodule=occtax&file=css/img/navbar/occtax_navbar.png");
  background-position: -175px 0px;
}
#taxon h3 .icon.result {
    background-image: url("getfile?targetmodule=occtax&file=css/img/navbar/occtax_navbar.png");
  background-position: -225px 0px;
}

#occtax h3 .icon.search {
    background-image: url("getfile?targetmodule=occtax&file=css/img/navbar/occtax_navbar.png");
  background-position: -175px 0px;
}

#occtax h3 .icon.description {
    background-image: url("getfile?targetmodule=occtax&file=css/img/navbar/occtax_navbar.png");
  background-position: -175px 0px;
}
#occtax h3 .icon.result {
    background-image: url("getfile?targetmodule=occtax&file=css/img/navbar/occtax_navbar.png");
  background-position: -25px 0px;
}


#div_occtax_taxon_modal  h3 .icon.search {
    background-image: url("getfile?targetmodule=occtax&file=css/img/navbar/occtax_navbar.png");
  background-position: -150px 0px;
}
#div_occtax_taxon_modal  h3 .icon.result {
    background-image: url("getfile?targetmodule=occtax&file=css/img/navbar/occtax_navbar.png");
  background-position: -200px 0px;
}

#occtax_results_stats_table img{
  max-width:100px !important;
}


table.dataTable {
  width: 100% !important;
}

ul.pagination {
  text-align: left;
}
div.dataTables_paginate.paging_simple_numbers {
  padding: 0px;
}
div.dataTables_paginate.paging_simple_numbers > ul {
  margin: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active,
.dataTables_wrapper .dataTables_paginate .paginate_button.active,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover
{
  background: orange;
  box-shadow: none;
  border: none;
  color: black;
}
.dataTables_wrapper .dataTables_paginate .paginate_button a,
.dataTables_wrapper .dataTables_paginate .paginate_button a:hover{
  color: black;
  text-decoration:none;
  font-size: 0.8em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled a,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  cursor: default;
}


table.occtax-legend-table {
  padding: 0px;
  font-size:0.8em;
  border-collapse:collapse;
  border-spacing:0px;
  min-width:50%;
}

table.occtax-legend-table td{
  padding: 3px;
}

#occtax-legend-maille {
  line-height: 0px;
}

/*
Occtax search dock
*/
div#occtax {
  height: 98%;
  overflow-x:hidden;
}
h3.occtax_search {
  cursor: pointer;
  border-bottom: 1px dotted white;
}


#bottom-dock ul.nav-tabs > li > a {
  border:none;
/*
  background:none;
*/
  font-weight:bold;
  color:rgb(200,200,200);
}
#bottom-dock ul.nav-tabs > li.active > a,
#bottom-dock ul.nav-tabs > li > a:hover {
  border:none;
/*
  background:none;
*/
  font-weight:bold;
  color:rgb(50,50,50);;
}


/*
Bottom dock
*/
#occtax-bottom-main {
    float: left;
    width: 100%;
    height: 100%;
}
#occtax-bottom-main.reduced {
    width: 65%;
}
#occtax-bottom-detail {
  background-color:RGBA(87, 105, 32, 0.8);
  margin-left: 65%;
  overflow: auto;
  height: 100%;
  padding-left: 10px;
}
#occtax-bottom-detail.visible {
  width: auto;
}
button#occtax-bottom-hide-detail{
  position:absolute;
  top:5px;
  right:5px;
}



/*
New dock presentatin et mentions legales*/
#occtax-presentation,
#occtax-legal
 {
  background:transparent;
  color: white;
  padding: 7px;
  font-size: 0.9em;
}
#occtax-presentation div,
#occtax-legal div {
  background:transparent;
  font-size: 16px;
}

#occtax-presentation h2,
#occtax-legal h2 {
  font-size: 18px;
  color: orange;
}
#occtax-presentation h3,
#occtax-legal h3 {
  font-size: 16px;
  margin-bottom: 10px;
}
#occtax-presentation a,
#occtax-legal a {
  color: orange;
}


/*
Boutons de changement de l'affichage carte: maille 1, 2, 10 ou  observations brutes
* */
#occtax_toggle_map_display {
  bottom: 0;
  margin-left: calc(50% - 100px);
  position: absolute;
  z-index: 1000;
}
#content.mobile #map-content #occtax_toggle_map_display {
  left: 40px;
  margin-left:0px;
}
#content.mobile #overview-box {
  display: none;
}

/*
Légende des mailles*/
#map-content div.occtax-legend-container {
  bottom: 50px;
  position: absolute;
  z-index: 1000;
  margin-left: calc(50% - 100px);
  background:rgba(255,255,255,0.6);
  padding: 5px;
  border-radius: 5px;
  color: rgb(50,50,50);
}
#map-content div.occtax-legend-container span#occtax-legend-title{
  font-size: 14px;
  cursor: pointer;
}
#map-content div.occtax-legend-container h4{
  margin: 0px;
  font-size: 13px;
}

#map-content div#occtax-legend-classes-container {
  margin: 5px;
}

#map-content div.occtax-legend-container div.occtax-legend-classes{
  background:rgba(255,255,255,0.7);
}

#content.mobile #map-content div.occtax-legend-container {
  left: 40px;
  margin-left:0px;
}


/*
Tweak sumoselect*/
.SumoSelect.open > .optWrapper {
  position: initial !important;
}
.SumoSelect > .optWrapper > .options li label {
  white-space: break-spaces !important;
}


/*
Fiche détail d'un taxon*/
#taxon-detail-container {
  padding: 5px;
  font-size: 12px;
  bottom: 20px;
  top: 40px;
  position: absolute;
  overflow: auto;
/*
  height: 90%;
*/
  right: 5px;
  left: 5px;

  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

#taxon-detail-status {
  flex-grow: 1;
  overflow: auto;
}
#taxon-detail-media {
/*
  width: 100%;
*/
  padding: 5px;
  max-height: 70%;
  text-align: center;
}
#taxon-detail-media img{
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 95%;
}


/*
Span de niveau de validité en couleur
*/
span.niv_val { cursor:pointer; font-weight:bold; padding:4px 8px;}
span.niv_val.n1  { background-color:lightgreen; color: rgb(51, 51, 51);}
span.niv_val.n2  { background-color:yellow; color: rgb(51, 51, 51);}
span.niv_val.n3  { background-color:orange; color: white; }
span.niv_val.n4  { background-color:red; color: white;  }
span.niv_val.n5  { background-color:grey; color: white;  }
span.niv_val.n6  { background-color:darkgrey; color: white;  }

.occtax_validation_form .form-horizontal div.control-group {
  margin-bottom:5px;
}
.occtax_validation_form .form-horizontal .control-label {
  font-size: 12px;
  width: 90px;
}
.occtax_validation_form .form-horizontal .controls {
  margin-left:100px;
  margin-right:10px;
}
.occtax_validation_form .form-horizontal .controls input, #validation_form .form-horizontal .controls textarea {
  width: 95%;
}

#validation-detail-container {
    font-size: 12px;
}


/*
Message en haut de la carte*/

#occtax-highlight-message div.occtax-highlight-message-container {
  font-size: 12px;
  max-height: 300px;
  overflow: auto;
}

#occtax-highlight-message div.occtax-highlight-message-container > div{
  margin: 0px;
}
#occtax-highlight-message div.occtax-highlight-message-container > div div.row {
  margin-left: 0px;
}

#occtax-highlight-message div.occtax-highlight-message-container > div table.dataTable tbody tr {
  background-color: transparent;
  cursor: pointer;
}

#occtax-highlight-message div.occtax-highlight-message-container > div table.dataTable tbody td {
  padding: 3px;
}
